<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.QuizApp"
        tools:targetApi="31">

        <activity
            android:name=".auth.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <activity
            android:name=".auth.RegisterActivity"
            android:exported="false" />

        <activity
            android:name=".auth.ForgotPasswordActivity"
            android:exported="false" />

        <activity
            android:name=".ui.student.dashboard.StudentDashboardActivity"
            android:exported="false"/>

        <activity
            android:name=".ui.student.profile.StudentProfileActivity"
            android:exported="false"/>

        <activity
            android:name=".ui.student.profile.EditProfileStudentActivity"
            android:exported="false"/>

        <activity
            android:name=".ui.student.profile.ChangePasswordStudentActivity"
            android:exported="false"/>

        <activity
            android:name=".ui.student.profile.LogoutConfirmationStudentActivity"
            android:exported="false"/>

        <activity
            android:name=".ui.teacher.dashboard.TeacherDashboardActivity"
            android:exported="false"/>

        <activity
            android:name=".ui.teacher.profile.TeacherProfileActivity"
            android:exported="false"/>

        <activity
            android:name=".ui.teacher.profile.EditProfileTeacherActivity"
            android:exported="false"/>

<!--        <activity-->
<!--            android:name=".ui.teacher.profile.ChangePasswordTeacherActivity"-->
<!--            android:exported="false"/>-->

        <activity
            android:name=".ui.teacher.profile.LogoutConfirmationTeacherActivity"
            android:exported="false"/>

        <activity
            android:name=".ui.teacher.dashboard.classroom.ClassManagementActivity"
            android:exported="false"/>

        <activity
            android:name=".ui.teacher.dashboard.classroom.AddClassActivity"
            android:exported="false"/>

        <activity
            android:name=".ui.teacher.dashboard.classroom.AddClassSuccessActivity"
            android:exported="false"/>

        <activity
            android:name=".ui.teacher.dashboard.classroom.ClassDetailsActivity"
            android:exported="false"/>

        <activity
            android:name=".ui.teacher.dashboard.classroom.EditClassActivity"
            android:exported="false"/>

        <activity
            android:name=".ui.teacher.dashboard.classroom.EditClassSuccessActivity"
            android:exported="false"/>

        <activity
            android:name=".ui.teacher.dashboard.test.TestManagementActivity"
            android:exported="false"/>

        <activity
            android:name=".ui.teacher.dashboard.test.AddTestActivity"
            android:exported="false"/>

        <activity
            android:name=".ui.teacher.dashboard.test.CreateQuestionsFromFileActivity"
            android:exported="false"/>

        <activity
            android:name=".ui.teacher.dashboard.test.TestDetailActivity"
            android:exported="false"/>

        <activity
            android:name=".ui.teacher.dashboard.test.AddTestSuccessActivity"
            android:exported="false"/>

        <activity
            android:name=".ui.student.dashboard.classes.StudentClassActivity"
            android:exported="false"/>

        <activity
            android:name=".ui.student.dashboard.classes.StudentClassDetailActivity"
            android:exported="false"/>

        <activity
            android:name=".ui.student.dashboard.test.StudentTestActivity"
            android:exported="false"/>

        <activity
            android:name=".ui.student.quiz.QuizActivity"
            android:exported="false"/>

        <activity
            android:name=".ui.student.result.QuizResultActivity"
            android:exported="false"/>
    </application>
</manifest>